@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');





@keyframes flotante {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-12px);
    }
    100% {
        transform: translateY(0);
    }
}
