*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-image: url(/img/index-fondo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    cursor: url('/img/cursor.svg'), pointer;
    display: flex;
    flex-direction: column;
}



/* PRELOAD  ///////////////////////////////////////// */


body.loaded .titulo{
    opacity: 1;
    transform: translateY(0)
}

body.loaded header{
    opacity: 1;
    transform: translateX(0)
}
body.loaded main{
    & h1, p{
        opacity: 1;
        transform: translateY(0px);
    }
}