:root {
    --principal: #2196F3;
}

header {
    position: fixed;
}

.section-1 {
    background-color: var(--principal);
    width: 100%;
    height: 25vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.section-1 h1 {
    color: white;
    font-size: 55px;
}

.section-1 .peces {
    margin-top: 20px;
    width: 90%;
    height: 100px;
    background-image: url(/problematica/img/peces.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.wave {
    z-index: -1;
    position: absolute;
    top: 25vw;
    left: 0;
    width: 300%;
    height: 189px;
    background-image: url(/problematica/img/wd1.svg);
    background-position: bottom;
    background-repeat: repeat-x;
    animation: w1 6s linear infinite;
}

.section-2 {
    margin-top: 9vw;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}


.section-3_header {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 3s ease;
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3_header a {
    font-size: 40px;
    color: var(--principal);
    text-decoration: none;

}
.text-centr {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.section-3_header img {
    width: 18vw;
}

.section-3_contenido {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

@keyframes w1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1600px);
    }
}

.tibu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tiburon-right {
    transform: scaleX(-1); /* Voltea la imagen horizontalmente para que mire a la derecha */
    width: 100px; /* Ajusta el tamaño si es necesario */
    height: auto;
}
