:root{
    --principal: #2196F3;
}
header{
    position: fixed;
}
body{
    background-color: #043775;
}
.section-1{
    background-color: var(--principal);
    width: 100%;
    height: 25vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    & h1{
        color: white;
        font-size: 55px;
        
    }
    & .peces{
        margin-top: 20px;
        width: 90%;
        height: 100px;
        background-image: url(/problematica/img/peces.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
}
.wave{
    z-index: -1;
    position: absolute;
    top: 25vw;
    left: 0;
    width: 300%;
    height: 189px;
    background-image: url(/problematica/img/wd1.svg);
    background-position: bottom;
    background-repeat: repeat-x;
    animation: w1 6s linear infinite;
}
@keyframes w1 {
    0% {
        transform: translateX(0); /* Comienza en la posición original */
    }
    100% {
        transform: translateX(-1600px); /* Desplaza la imagen completamente */
    }
}



@media (width > 1400px){
    .section-1{
        height: 23vw;
    }
    body .wave{
        top: 23vw;
    }
    .section-1 h1{
        font-size: 4vw;
    }
}

@media (max-width: 900px) {
    .section-1 {
        height: 40vw; 
        gap: 10px; 
        justify-content: center;
        mask-image: linear-gradient(black 80%, transparent);
    }

    .section-1 h1 {
        font-size: 7vw; 
        text-align: center; /* Centrar el texto */
        margin-top: 40px;
    }

    .section-1 .peces {
        display: none;
    }

    .wave {
        display: none;
    }
}